.App {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

* {
    margin: 0;
    padding: 0;
}


.score {
    font-family: verdana;
    font-size: 2em;
    position: relative;
    color: #fff;
}

canvas {
}

.cmd {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    color: #555555;
    font-size: 35px;

    margin-left: 100px;
    margin-right: 20px;
    margin-top: 20px;
    background: white;
    min-width: 2.66em;
    min-height: 1.66em;
    border-radius: 0.2em;
    border: solid 1px #d4d4d4;
}

.legendSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorialLegend {
    width: 25vw;
    margin-top: 10%;

    border-color: rgba(230, 255, 0, 0.58);
    box-shadow: 0 0 18px #888888;

    border-width: 5px;
    border-radius: 55px;
    border-style: solid;
    padding: 35px;
}

.legend {
    width: 70%;
    margin-top: 10%;

    border-color: #8bc34aaa;
    box-shadow: 0px 0px 18px #888888;


    border-width: 5px;
    border-radius: 55px;
    border-style: solid;
    padding: 35px;


    /*background-color: cadetblue;*/
}

.legendTitle {
    margin-top: -10px;
    color: #333333;
    text-shadow: 0px 0px 2px #88888833;
}

.legendContent {
    font-size: 15px;
    font-family: 'verdana', sans-serif;
    overflow-y: scroll;
    height: 70vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.game-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.center {
    position: absolute;
    top: 15%;
}

.score {
    font-family: 'Oswald', sans-serif;
    color: #8bc34a;
    text-shadow: 1px 1px 6px black;
    font-size: 90px;
    line-height: 90px;
}

.tag {
    font-family: 'Oswald', sans-serif;
    color: #00b6ee;
    position: absolute;
    top: -100px;
    left: 50%;
    font-size: 50px;
    line-height: 50px;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: #555555;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    line-height: 70px;
}

.score {
    display: flex;
    justify-content: center;
}

.rightColumn {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.github {

}

.separator {
    margin: 10px -35px;
    min-height: 2px;
    background-color: #00b6ffcc;
    box-shadow: 1px 0px 3px #8bc34a88;
}

.kbd {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-size: .85em;
    line-height: .85em;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .05em;
    padding: 3px 5px;
    white-space: nowrap;
    margin-right: 7px;
}

td {
    padding-bottom: 10px;
    min-width: 50px;
}

.legendKeyDesc {
    font-size: 15px;
    font-family: 'verdana', sans-serif;
}


.tutorialLegendContent {
    display: flex;
    justify-content: center;
    text-align: start;

    flex-direction: column;
}

.firstColumn {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-bottom: 10vh;
}


.levelsContainer {
    margin-top: 20px;

    border-color: #00b7ef88;
    /*box-shadow: 0px 0px 8px #888888;*/
    border-width: 5px;
    border-radius: 55px;
    border-style: solid;

    display: flex;
    flex-direction: column;

}

.levelsSeparator {
    width: 100%;

    height: 3px;
    background-color: #8bc34acc;
    box-shadow: 1px 0px 3px #00b6ffcc;
}

.levelsLine {
    display: flex;
    justify-content: space-evenly;
}

.levelContainer {
    box-shadow: -2px 2px 10px #888888;
    border-radius: 10px;
    margin: 15px 30px;
    position: relative;
    transition: box-shadow 0.2s ease;
}

.levelContainer:hover {
    box-shadow: 0px 0px 20px #8bc34a;
    transition: box-shadow 0.2s ease;
    transform: scale(1.05);
    /*cursor: pointer;*/
}

.levelsImage {
    border-radius: 10px;
}

.levelText {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #55555544;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    font-family: 'verdana', sans-serif;
    color: #ffffff;
    text-shadow: #222222 1px 1px 2px;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

