.App {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.score {
    font-family: verdana;
    font-size: 2em;
    position: relative;
    color: #fff;
}

canvas {
}

.cmd {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #6f6f6f;
    background: white;
    min-width: 2.66em;
    min-height: 2.66em;
    line-height: 2.42em;
    padding: 0.2em;
    text-align: center;
    border-radius: 0.2em;
    border: solid 1px #d4d4d4;
}

.legendSection {
    height: 100vh;
    flex: 1;
    /*background-color: #d4d4d4;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend {
    width: 70%;
    margin-top: -10%;

    /*background-color: cadetblue;*/
}

.game-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.center {
    position: absolute;
    top: 15%;
}

.score {
    font-family: 'Oswald', sans-serif;
    color: #CCC;
    text-shadow: 1px 1px 5px black;
    font-size: 90px;
    line-height: 90px;
}

.tag {
    font-family: 'Oswald', sans-serif;
    color: #CCC;
    text-shadow: 1px 1px 5px black;
    position: absolute;
    top: -100px;
    left: 50%;
    font-size: 50px;
    line-height: 50px;
}

.title {
    font-family: 'Oswald', sans-serif;
    color: #CCC;
    text-shadow: 1px 1px 5px black;
    font-size: 40px;
    line-height: 70px;
}

.score {
    width: 300px;
    display: flex;
    justify-content: center;
}